$blue: #0F255F;
$white: #fff;
$light-black: #041131;
$red: #FF1D00;
$medium-black: #071538;
$light-blue: #0F42DF;
$dark-blue: #0d37b7;

$color-gray-shade-1: #BEC1D2;
$color-theme: #1750FF;

$blue-color: #005EBB;
$pink: #FE9898;
$black: #323F39;

$filter: #E8E8FF;
$gray: #E5E5EC;
$very-light-blue: #536DFE;
$light-gray: #EEF3FF;